<div class="container mt-5">
    <div class="jumbotron text-center">
      <h1 class="display-4">Bienvenido a JARTComponents</h1>
      <p class="lead">Somos una empresa especializada en la venta de computadoras gamer de escritorio.</p>
      <hr class="my-4">
      <p>Descubre nuestras mejores opciones y equipos de alta gama diseñados para los jugadores más exigentes.</p>
      <a class="btn btn-primary btn-lg" routerLink="/productos" role="button">Ver Productos</a>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/img1.png" class="card-img-top" alt="Gaming Desktop 1">
          <div class="card-body">
            <h5 class="card-title">PC Gamer Alpha</h5>
            <p class="card-text">Potente y eficiente, diseñada para los juegos más exigentes.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/img2.png" class="card-img-top" alt="Gaming Desktop 2">
          <div class="card-body">
            <h5 class="card-title">PC Gamer Beta</h5>
            <p class="card-text">Equilibrio perfecto entre rendimiento y costo.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/img/img3.png" class="card-img-top" alt="Gaming Desktop 3">
          <div class="card-body">
            <h5 class="card-title">PC Gamer Gamma</h5>
            <p class="card-text">Máxima capacidad de personalización y rendimiento superior.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="mt-5 text-center">
      <h2>Sobre Nosotros</h2>
      <p class="lead">En JARTComponents, nos dedicamos a ofrecer las mejores soluciones de hardware para gaming. Nuestro compromiso es proporcionar equipos de alta calidad que garanticen la mejor experiencia de juego.</p>
    </div>
  </div>
  