<div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <h3>Escríbenos</h3>
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputName">Nombre</label>
              <input type="text" class="form-control" id="inputName" placeholder="Nombre">
            </div>
            <div class="form-group col-md-6">
              <label for="inputSurname">Apellido</label>
              <input type="text" class="form-control" id="inputSurname" placeholder="Apellido">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input type="email" class="form-control" id="inputEmail" placeholder="Email">
            </div>
            <div class="form-group col-md-6">
              <label for="inputSubject">Asunto</label>
              <input type="text" class="form-control" id="inputSubject" placeholder="Asunto">
            </div>
          </div>
          <div class="form-group">
            <label for="inputMessage">Mensaje</label>
            <textarea class="form-control" id="inputMessage" rows="4" placeholder="Mensaje"></textarea>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <h3>Oficinas</h3>
        <address>
          Carlos B. Zetina No. 80, Parque Industrial Xalostoc.<br>
          Ecatepec, Edo. de México, 55348<br>
          <br>
          Conmutador: (55) 5747 45 45 y (55) 4749 45 45<br>
          Atención a Clientes: (55) 5747 45 46<br>
          <br>
          JARTComponents&#64;mitienda.com
        </address>
      </div>
    </div>
  </div>
  