@{
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Currículum</title>
    <style>
        .parent {
            display: grid;
        }

        .div1 {
            grid-area: 1 / 1 / 2 / 2;
        }

        .div2 {
            grid-area: 1 / 2 / 2 / 4;
        }

        .div3 {
            grid-area: 2 / 1 / 3 / 4;
        }

        .sub {
            text-align: center;
        }

        .experience-section {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 0 auto;
        }
        .experience-section h2::before {
            content: url('https://img.icons8.com/material-outlined/24/000000/briefcase.png');
            margin-right: 10px;
        }

        .job ul {
            list-style-type: disc;
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="parent">
            <div class="div1">
                <img src="~/img/perfilcv.png" alt="Profile Picture" />
            </div>
            <div class="div2">
                <div class="links">
                    <div class="container-fluid">
                        <h1>José Ángel Ramírez Tovar<h1>
                    </div>
                    <a asp-controller="cv" asp-action="preparacionAcademica">Preparación Académica</a>
                    <a asp-controller="cv" asp-action="Datos">Datos</a>
                </div>
            </div>
            <div class="div3">
                <div class="experience-section">
                    <h2 class="sub">EXPERIENCIA LABORAL</h2>
                    <div class="job">
                        <h3>Thincode (Infoware)</h3>
                        <h4>Desarrollador BackEnd,<br>Diciembre 2023 - Abril 2024</h4>
                        <ul>
                            <li>Desarrollo BackEnd en C.</li>
                            <li>Desarrollo BackEnd con Cobol.</li>
                            <li>Creación de Interfaces de Usuario en Tandem y GBS.</li>
                        </ul>
                    </div>
                    <div class="job">
                        <h3>JuventudEsGto</h3>
                        <h4>Desarrollador web full stack,<br>Febrero 2023 - Noviembre 2023</h4>
                        <ul>
                            <li>Desarrollo web con PHP, HTML, CSS, Bootstrap y SQL Server.</li>
                            <li>Mejora de interfaz y funcionalidades.</li>
                            <li>Optimización de la base de datos.</li>
                            <li>Colaboración en equipo y documentación.</li>
                        </ul>
                    </div>
                    <div class="job">
                        <h3>JuventudEsGto</h3>
                        <h4>Pasante de estadías profesionales,<br>Mayo 2022 - Septiembre 2022</h4>
                        <ul>
                            <li>Desarrollo web con PHP, HTML, CSS, Bootstrap y SQL Server.</li>
                            <li>Colaboración en equipo y documentación.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
